body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

header {
  background-color: #222;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav a {
  color: white;
  text-decoration: none;
}

.intro {
  padding: 2em;
  text-align: center;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  font-size: 0.9em;
}
